.link {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: auto;
}
.button :hover {
  transition: all ease-in 50ms;
  transform: scale(1.2);
  opacity: 0.75;
}
.link input {
  text-align: left;
  margin: 0;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: azure;
  margin-left: 1rem;
  width: 100%;
  background-color: transparent;
  border: 0;
  resize: none; 
  display: flex; /* Add display: flex */
  align-items: center; /* Vertically center the content */

}

.link input:focus{
    outline: none;
}
