.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.shortlink {
  display: flex;
  position: relative;
}

.label {
  position: absolute;
  font-size: x-small;
  color: azure;
  top: -19px;
  margin-left: 5rem;
}

.link-text {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

  color: azure;
  margin-left: 0.5rem;
  cursor: not-allowed;
  white-space: nowrap;
}

.actions button :disabled {
    background-color: brown;
}

.arrow {
  height: 13px;
  width: 12px;
  margin: auto 1rem auto 1rem;
}

.link {
  height: 20px;
  margin-left: 0.5rem;
}

@media (max-width: 1000px) {
  .form {
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0.5rem;
  }

  .shortlink {
    width: 100%;
    margin-top: 2rem;
  }

  .arrow {
    display: none;
  }
  .link {
    margin-left: 0;
  }

  .link-text {
    width: 266px;
  }
}

@media (max-width: 500px) {
  .link-text {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 23.5px;
  }
}
