.button {
  background-color: var(--mate-black);
  border-radius: 2rem;
  font-family: "Bricolage Grotesque", sans-serif;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: azure;
  border: var(--electric-green) solid 1px;
  height: 3rem;
  width: 9rem;
}

.button:hover {
  background-color: var(--electric-green);
  color: var(--mate-black);
  font-weight: bold;
}

@media (max-width: 1000px) {
  .button {
    width: 100%;
  }
}
