.input {
  display: flex;
  font-family: "Chivo", sans-serif;
}

.input div {
  position: relative;
}

.input input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #262626;
  color: azure;
  font-size: 16px;
  width: 15rem;
  font-weight: 100;
}

.invalid {
  border-bottom: 2px solid #803b3b !important;
}

.error-msg {
  color: #b75555;
  position: absolute;
  top: 16px;
  font-size: x-small;
  margin-left: 2px;
}

.label {
  position: absolute;
  font-size: x-small;
  color: azure;
  top: -20px;
  margin-left: 2px;
}

.input input:focus {
  outline: none;
  border-bottom: 2px solid #434343;
}

.input input::placeholder {
  color: rgb(148, 154, 154);
}

.input img {
  height: 20px;
  margin-right: 0.5rem;
}

@media (max-width: 1000px) {
  .input {
    width: 100%;
  }
  .input input {
    width: 100%;
  }
  .input div {
    width: 100%;
  }
  .short {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .input input {
    font-size: 16px;
  }
}
