.modal {
  position: fixed;
  top: 10vh;
  right: 5vh;
  z-index: 100;
  overflow: hidden;
  border-radius: 1rem;
  opacity: 1;
  color: azure;
  font-size: 16px;
  font-family: "Chivo", sans-serif;
}

.error {
  background-color: var(--warning-red);
  box-shadow: 0 0 15px 2px var(--red);
}

.success {
  background-color: var(--sucess-green);
  box-shadow: 0 0 15px 2px var(--sucess-shadow);
}

.transparent {
  opacity: 0;
}

.content {
  padding: 0.5rem;
  padding-right: 2rem;
  display: flex;
}

.content article{
  display: flex;
  align-items: center;
}

.content aside {
  display: flex;
  align-items: center;
  padding: 1rem;
}

ul {
  padding: 0;
}
li {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

@media (max-width: 1000px) {
  .content {
    padding: 0.25rem;
    padding-right: 0.5rem;
  }

  li {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .modal {
    left: 0;
    right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .content {
    padding: 0.5rem;
  }
  li {
    font-size: 14px;
  }
}
